<%- include('partials/header.ejs')%>

Test test test


<a href="/">disconnect test, to landing page</a> 
<br>
<button id="testConn">connect test</button>
<div>tryJoinPublicRoom()</div>

<script src="./socket.io/socket.io.js"></script>
<script src="./game.js"></script>

<%- include('partials/footer.ejs')%>